<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>预约TA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone = no"/>
    <link rel="stylesheet" href="../css/font-awesome.min.css">

    <link rel="stylesheet" href="../css/mui.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/global.css">


    <script src="../js/jquery-1.11.1.min.js"></script>
    <script src="../js/mui.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>


</head>
<body>
<main>
    <div class="dynamic-index">
        <div class="dynamic-title tabs">
            <ul class="clearfix">
                <li class="col-xs-4 text-left current"><a href="###">全部</a></li>
                <li class="col-xs-4 text-center"><a href="###">关注</a></li>
                <li class="col-xs-4 text-right"><a href="###">出差</a></li>
            </ul>
        </div>

        <!--全部-->
        <div class="dt-con tab-content">
            <div class="dynamic">
                <div class="dynamic-con">
                    <div class="container-fluid">
                        <div class="dynamic-list-1">
                            <img src="../images/icon-user.png">
                            <h6>张静静<b><i class="fa fa-female"></i>28</b><span>2016年07月21日 19:00  </span><span class="address">天津市</span></h6>
                            <div class="clear"></div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. </p>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="heart">
                                        <a href="#"><i class="fa  fa-comment"></i></a>
                                        <a href="#"><i class="fa fa-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="dynamic-list-1">
                            <img src="../images/icon-user.png">
                            <h6>张静静<b><i class="fa fa-female"></i>28</b><span>2016年07月21日 19:00  </span><span class="address">北京市</span></h6>
                            <div class="clear"></div>
                            <div class="per-img">
                                <div class="col-xs-4">
                                    <img src="../images/index/banner-1.png" />
                                </div>
                                <div class="col-xs-4">
                                    <img src="../images/index/banner-1.png" />
                                </div>
                                <div class="col-xs-4">
                                    <img src="../images/index/banner-1.png" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="heart">
                                        <a href="#"><i class="fa  fa-comment"></i></a>
                                        <a href="#"><i class="fa fa-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--关注-->
        <div class="dt-con tab-content" style="display: none;">
            <div class="dynamic">
                <div class="dynamic-con">
                    <div class="container-fluid">
                        <div class="dynamic-list-1">
                            <img src="../images/icon-user.png">
                            <h6>张静静<b><i class="fa fa-female"></i>28</b><span>2016年07月21日 19:00  </span><span class="address">天津市</span></h6>
                            <div class="clear"></div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. </p>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="heart">
                                        <a href="#"><i class="fa  fa-comment"></i></a>
                                        <a href="#"><i class="fa fa-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="dynamic-list-1">
                            <img src="../images/icon-user.png">
                            <h6>张静静<b><i class="fa fa-female"></i>28</b><span>2016年07月21日 19:00  </span><span class="address">北京市</span></h6>
                            <div class="clear"></div>
                            <div class="per-img">
                                <div class="col-xs-4">
                                    <img src="../images/index/banner-1.png" />
                                </div>
                                <div class="col-xs-4">
                                    <img src="../images/index/banner-1.png" />
                                </div>
                                <div class="col-xs-4">
                                    <img src="../images/index/banner-1.png" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="heart">
                                        <a href="#"><i class="fa  fa-comment"></i></a>
                                        <a href="#"><i class="fa fa-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--出差-->
        <div class="business-travel tab-content"  style="display: none;">
            <div class="dynamic-con">
                <div class="container-fluid">
                    <div class="dynamic-list-1">
                        <img src="../images/icon-user.png">
                        <h6>张静静<b><i class="fa fa-female"></i>28</b><span>2016年07月21日 19:00  </span><span class="address">北京市</span></h6>
                        <div class="clear"></div>

                        <div class="row departure-arrival">
                            <div class="col-xs-12">
                                <div class="col-xs-6">
                                    出发
                                </div>
                                <div class="col-xs-6 text-right">
                                    到达
                                </div>
                            </div>
                        </div>

                        <div class="row option-city">
                            <div class="col-xs-12">
                                <div class="col-xs-2">北京</div>
                                <div class="col-xs-8">旅行</div>
                                <div class="col-xs-2 text-right">常州</div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="heart">
                                    <a href="#"><i class="fa  fa-comment"></i></a>
                                    <a href="#"><i class="fa fa-heart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="dynamic-list-1">
                        <img src="../images/icon-user.png">
                        <h6>张静静<b><i class="fa fa-female"></i>28</b><span>2016年07月21日 19:00  </span><span class="address">北京市</span></h6>
                        <div class="clear"></div>

                        <div class="row departure-arrival">
                            <div class="col-xs-12">
                                <div class="col-xs-6">
                                    出发
                                </div>
                                <div class="col-xs-6 text-right">
                                    到达
                                </div>
                            </div>
                        </div>

                        <div class="row option-city">
                            <div class="col-xs-12">
                                <div class="col-xs-2">北京</div>
                                <div class="col-xs-8">旅行</div>
                                <div class="col-xs-2 text-right">常州</div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="heart">
                                    <a href="#"><i class="fa  fa-comment"></i></a>
                                    <a href="#"><i class="fa fa-heart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="dynamic-list-1">
                        <img src="../images/icon-user.png">
                        <h6>张静静<b><i class="fa fa-female"></i>28</b><span>2016年07月21日 19:00  </span><span class="address">北京市</span></h6>
                        <div class="clear"></div>

                        <div class="row departure-arrival">
                            <div class="col-xs-12">
                                <div class="col-xs-6">
                                    出发
                                </div>
                                <div class="col-xs-6 text-right">
                                    到达
                                </div>
                            </div>
                        </div>

                        <div class="row option-city">
                            <div class="col-xs-12">
                                <div class="col-xs-2">北京</div>
                                <div class="col-xs-8">旅行</div>
                                <div class="col-xs-2 text-right">常州</div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="heart">
                                    <a href="#"><i class="fa  fa-comment"></i></a>
                                    <a href="#"><i class="fa fa-heart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <a class="icon-add" href="#">+</a>
    </div>
</main>

<footer>
    <nav class="mui-bar mui-bar-tab">
        <a class="mui-tab-item mui-active" href="#tabbar">
            <span class="mui-icon mui-icon-image"></span>
            <span class="mui-tab-label">服务</span>
        </a>

        <a class="mui-tab-item" href="#tabbar-with-contact">
            <span class="mui-icon mui-icon-loop"></span>
            <span class="mui-tab-label">动态</span>
        </a>
        <a class="mui-tab-item" href="#tabbar-with-chat">
            <span class="mui-icon mui-icon-chat"></span>
            <span class="mui-tab-label">消息</span>
        </a>

        <a class="mui-tab-item" href="#tabbar-with-map">
            <span class="mui-icon mui-icon-contact"></span>
            <span class="mui-tab-label">我的</span>
        </a>
    </nav>
</footer>
</body>

<script>
    $(".tabs li").each(function(i){
        var _this = $(this);
        _this.click(function(){
            $(this).addClass('current').siblings().removeClass('current');
            $(this).parents('.tabs').parent().find('.tab-content').eq(i).show()
                    .siblings('.tab-content').hide();

        });
    });

</script>
</html>