<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>我的行程</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone = no"/>
    <link rel="stylesheet" href="../css/font-awesome.min.css">

    <link rel="stylesheet" href="../css/mui.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/global.css">


    <script src="../js/jquery-1.11.1.min.js"></script>
    <script src="../js/mui.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/common.js"></script>


</head>
<body>
<header class="head-black head-ccc">
    <div class="top"></div>
    <div class="title">
        <div class="container-fluid">
            <a href="#">取消</a>
            <h4>出差预告</h4>
        </div>
    </div>
</header>

<main>
    <div class="trailer-img">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-4">
                        <a href="#">
                            <img src="../images/icon-user.png" />
                        </a>
                    </div>
                    <div class="col-xs-4">
                        <a href="#">
                            <img src="../images/icon-user.png" />
                        </a>
                    </div>
                    <div class="col-xs-4">
                        <a href="#">
                            <img src="../images/icon-user.png" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="start-time">
        <div class="mui-content">
            <div  class="mui-table-view mui-table-view-chevron">
                <div class="mui-table-view-cell">
                   <a href="#">
                       目的地城市
                       <span><i class="fa fa-angle-right"></i>全部</span>
                   </a>
                </div>
                <div class="mui-table-view-cell mui-two">
                    <select>
                        <option>计划出发日期</option>
                        <option>将今天到达</option>
                        <option>未来一周到达</option>
                        <option>未来一月到达</option>
                        <option>指定时间</option>
                    </select>
                    <span><i class="fa fa-angle-right"></i>全部</span>
                </div>
                <div class="mui-table-view-cell mui-two">
                    <label>需要服务</label>
                    <input type="text" placeholder="北京三天找妹子陪我玩" />
                </div>
                <div class="mui-table-view-cell">
                    <a href="#">
                        留言备注
                        <span><i class="fa fa-angle-right"></i>全部</span>
                    </a>
                </div>
            </div>
        </div>

    </div>

    <div class="start-time">
        <div class="mui-content">
            <div class="mui-table-view mui-table-view-chevron">
                <div class="mui-table-view-cell">
                    <a href="#">
                        奖励
                        <p>不高于/不低于 XXXX元/天</p>
                    </a>
                </div>

                <div class="mui-table-view-cell mui-two">
                    <label>已交定金</label>
                    <input type="text" placeholder="北京三天找妹子陪我玩" />
                </div>
                <div class="mui-table-view-cell mui-two">
                    <select>
                        <option>公开</option>
                        <option>好友</option>
                        <option>关注</option>
                        <option>目的地城市</option>
                    </select>
                    <span><i class="fa fa-angle-right"></i></span>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <a class="btn-login set-gg" href="#">发布预告</a>
    </div>
</main>
</body>
</html>