<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>城市选择</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone = no"/>
    <link rel="stylesheet" href="../css/font-awesome.min.css">

    <link rel="stylesheet" href="../css/mui.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/global.css">


    <script src="../js/jquery-1.11.1.min.js"></script>
    <script src="../js/mui.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>

</head>
<body>
<header>
    <div class="top"></div>
    <div class="title">
        <div class="container-fluid">
            <a href="#"><i class="fa fa-angle-left"></i></a>
            <h4>城市选择</h4>

        </div>
    </div>
</header>

<main>
    <div class="city-search">
        <div class="funnel-screen">
            <div class="container-fluid">
                <div class="mui-input-row">
                    <input type="search" class="mui-input-clear" placeholder="找城市">
                    <button><i class="fa fa-search"></i></button>
                </div>

                <div class="current-city">
                    <h6>当前定位城市</h6>
                    <div class="city-detail">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="col-xs-3 current">武汉</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="current-city recent-visit">
                    <h6>近期访问</h6>
                    <div class="city-detail">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="row-line">
                                    <div class="col-xs-3 current">武汉</div>
                                    <div class="col-xs-3">重庆</div>
                                    <div class="col-xs-3">上海</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="current-city recent-visit">
                    <h6>热门</h6>
                    <div class="city-detail">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="row-line">
                                    <div class="col-xs-3">北京</div>
                                    <div class="col-xs-3">上海</div>
                                    <div class="col-xs-3">广州</div>
                                    <div class="col-xs-3">深圳</div>
                                </div>
                                <div class="row-line">
                                    <div class="col-xs-3">成都</div>
                                    <div class="col-xs-3">南京</div>
                                    <div class="col-xs-3">杭州</div>
                                    <div class="col-xs-3 current">武汉</div>
                                </div>
                                <div class="row-line">
                                    <div class="col-xs-3">重庆</div>
                                    <div class="col-xs-3">西安</div>
                                    <div class="col-xs-3">大连</div>
                                    <div class="col-xs-3">济南</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="current-city recent-visit">
                    <h6>A</h6>
                    <div class="city-detail">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="row-line">
                                    <div class="col-xs-3">阿拉善</div>
                                    <div class="col-xs-3">鞍山</div>
                                    <div class="col-xs-3">安庆</div>
                                    <div class="col-xs-3">安阳</div>
                                </div>
                                <div class="row-line">
                                    <div class="col-xs-3">阿坝</div>
                                    <div class="col-xs-3">安顺</div>
                                    <div class="col-xs-3">阿里</div>
                                    <div class="col-xs-3">安康</div>
                                </div>
                                <div class="row-line">
                                    <div class="col-xs-3">阿克苏地区</div>
                                    <div class="col-xs-3">阿勒泰地区</div>
                                    <div class="col-xs-3">安国</div>
                                    <div class="col-xs-3">阿尔山</div>
                                </div>
                                <div class="row-line">
                                    <div class="col-xs-3">安达</div>
                                    <div class="col-xs-3">安丘</div>
                                    <div class="col-xs-3">安陆</div>
                                    <div class="col-xs-3">安宁</div>
                                </div>
                                <div class="row-line">
                                    <div class="col-xs-3">阿克苏</div>
                                    <div class="col-xs-3">阿图什</div>
                                    <div class="col-xs-3">阿勒泰</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="current-city recent-visit">
                    <h6>B</h6>
                    <div class="city-detail">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="row-line">
                                    <div class="col-xs-3">北京</div>
                                    <div class="col-xs-3">保定</div>
                                    <div class="col-xs-3">包头</div>
                                    <div class="col-xs-3">阿彦淖尔</div>
                                </div>
                                <div class="row-line">
                                    <div class="col-xs-3">本溪</div>
                                    <div class="col-xs-3">白山</div>
                                    <div class="col-xs-3">白城</div>
                                    <div class="col-xs-3">亳州</div>
                                </div>
                                <div class="row-line">
                                    <div class="col-xs-3">丰富</div>
                                    <div class="col-xs-3">滨州</div>
                                    <div class="col-xs-3">百色</div>
                                    <div class="col-xs-3">北海</div>
                                </div>
                                <div class="row-line">
                                    <div class="col-xs-3">巴中</div>
                                    <div class="col-xs-3">毕节</div>
                                    <div class="col-xs-3">保山</div>
                                    <div class="col-xs-3">宝鸡</div>
                                </div>
                                <div class="row-line">
                                    <div class="col-xs-3">白银</div>
                                    <div class="col-xs-3">博尔达拉</div>
                                    <div class="col-xs-3">巴音郭楞</div>
                                    <div class="col-xs-3">霸州</div>
                                </div>
                                <div class="row-line">
                                    <div class="col-xs-3">泊头</div>
                                    <div class="col-xs-3">北票</div>
                                    <div class="col-xs-3">北镇</div>
                                    <div class="col-xs-3">北安</div>
                                </div>
                                <div class="row-line">
                                    <div class="col-xs-3">北流</div>
                                    <div class="col-xs-3">毕节</div>
                                    <div class="col-xs-3">博乐</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>

    </div>
</main>
</body>
</html>