<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>基本信息修改</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone = no"/>
    <link rel="stylesheet" href="../css/font-awesome.min.css">

    <link rel="stylesheet" href="../css/mui.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/global.css">


    <script src="../js/jquery-1.11.1.min.js"></script>
    <script src="../js/mui.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/common.js"></script>

</head>
<body>
<header class="head-black">
    <div class="top"></div>
    <div class="title">
        <div class="container-fluid">
            <a href="#"><i class="fa fa-angle-left"></i></a>
            <h4>基本信息修改</h4>
            <a class="release-schedule" href="###">保存</a>
        </div>
    </div>
</header>

<main>
    <div class="container-fluid">
        <div class="modify-info">
            <form class="mui-input-group">
                <div class="mui-input-row">
                    <label>昵称</label>
                    <input type="text" placeholder="张静静">
                </div>
                <div class="mui-input-row">
                    <label>地区</label>
                    <select>
                        <option>北京市辖区</option>
                    </select>
                    <i class="fa  fa-caret-down"></i>
                </div>
                <div class="mui-input-row">
                    <label>年龄</label>
                    <input type="text" placeholder="28岁">
                </div>
                <div class="mui-input-row">
                    <label>身高</label>
                    <input type="text" placeholder="170cm">
                </div>
                <div class="mui-input-row">
                    <label>职业</label>
                    <select>
                        <option>老板</option>
                    </select>
                    <i class="fa  fa-caret-down"></i>
                </div>
                <div class="mui-input-row">
                    <label>体重</label>
                    <input type="text" placeholder="70KG">
                </div>
                <div class="mui-input-row">
                    <label>交友目标</label>
                    <input type="text" placeholder="男性">
                </div>
                <div class="mui-input-row">
                    <label>幸福期待</label>
                    <input type="text" placeholder="男性">
                </div>
                <div class="mui-input-row">
                    <label>个性签名</label>
                    <input type="text" placeholder="这个我也不知道怎么写了">
                </div>
                <div class="mui-input-row">
                    <label>兴趣</label>
                    <input type="text" placeholder="羽毛球 游泳 瑜伽 驾驶">
                </div>
                <div class="mui-input-row mui-texta">
                    <label>自我介绍</label>
                    <textarea rows="3">111</textarea>
                </div>



            </form>
        </div>
    </div>
</main>

</body>
</html>