<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>预约TA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone = no"/>
    <link rel="stylesheet" href="../css/font-awesome.min.css">

    <link rel="stylesheet" href="../css/mui.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/global.css">


    <script src="../js/jquery-1.11.1.min.js"></script>
    <script src="../js/mui.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>


</head>
<body>
<header class="head-black">
    <div class="top"></div>
    <div class="title">
        <div class="container-fluid">
            <a href="#"><i class="fa fa-angle-left"></i></a>
            <h4>预约TA</h4>

        </div>
    </div>
</header>

<main>
    <div class="container-fluid">
        <div class="appoint-con">
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-6">
                        <h5>预约内容</h5>
                    </div>
                    <div class="col-xs-6">
                        <select>
                            <option>请选择内容</option>
                            <option>翻译 ￥200/小时</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <h5>预约信息</h5>
                    <div class="mui-input-group">
                        <div class="mui-input-row">
                            <label>约会时间</label>
                            <input type="text" class="mui-input-clear" placeholder="请填写时间">
                        </div>
                        <div class="mui-input-row">
                            <label>约会时长：</label>
                            <input type="text" class="mui-input-clear" placeholder="请填写时间">
                        </div>
                        <div class="mui-input-row">
                            <label>约会地点：</label>
                            <input type="text" class="mui-input-clear" placeholder="请填写公众场合">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <h5>打个招呼</h5>
                    <textarea class="form-control" rows="3">请尊重对方并详细说明本次邀约的具体内容,这样被接收的概率更大。违规信息将作出相应的惩罚.</textarea>
                </div>
            </div>

            <div class="row pay-style">
                <div class="col-xs-12">
                    <h5 class="">支付方式</h5>
                    <div class="mui-input-group">
                        <div class="mui-input-row mui-radio mui-left">
                            <label>微信支付</label>
                            <input checked name="radio1" type="radio">
                        </div>
                        <div class="mui-input-row mui-radio mui-left">
                            <label>支付宝支付</label>
                            <input name="radio1" type="radio">
                        </div>
                    </div>
                </div>
            </div>
            <p class="remind">预约如果未成功,资金将返还。对方接受后可支付全款，如有违法及不道德行为,约闲平台将有权将该款项划拨给对方</p>
        </div>
    </div>


    <div class="pay-btn">
        <div class="container-fluid">
            <div class="row">
                <p class="col-xs-6">预付￥0元<span>总价:200元</span></p>
                <a class="col-xs-6" href="#">马上租/约TA</a>
            </div>
        </div>
    </div>
</main>
</body>
</html>