<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>注册</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone = no"/>
    <link rel="stylesheet" href="../css/font-awesome.min.css">

    <link rel="stylesheet" href="../css/mui.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/global.css">


    <script src="../js/jquery-1.11.1.min.js"></script>
    <script src="../js/mui.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>

</head>
<body>

<header>
    <div class="top"></div>
    <div class="title">
        <div class="container-fluid">
            <a href="#"><i class="fa fa-angle-left"></i></a>
            <h4>注册</h4>
        </div>
    </div>
</header>


<main>
    <div class="login forget-key register">
        <div class="container-fluid">
            <div class="mui-input-row">
                <i class="fa fa-user"></i>
                <input type="text" class="mui-input-clear" placeholder="我的昵称">
            </div>

            <div class="mui-input-row mui-radio mui-left" id="radio-female">
                <label>我是女士</label>
                <input checked name="radio1" type="radio">
            </div>

            <div class="mui-input-row mui-radio mui-left" id="radio-male">
                <label>我是男士</label>
                <input name="radio1" type="radio">
            </div>

            <div class="mui-input-row">
                <i class="fa fa-mobile-phone"></i>
                <input type="text" class="mui-input-clear" placeholder="手机号码">
            </div>
            <div class="mui-input-row mui-input-row-send">
                <i class="fa fa-envelope-o"></i>
                <input type="text" class="mui-input-clear" placeholder="手机验证码">
                <input type="button" id="btn" value="发送" />
            </div>
            <div class="mui-input-row">
                <i class="fa fa-lock"></i>
                <input type="password" class="mui-input-password" placeholder="请输入您的登录密码">
            </div>

            <a class="btn-login" href="#">注册</a>
            <div class="mui-input-row mui-checkbox mui-left">
                <label><a href="#">继续注册既表示同意我们的<span>使用条款</span></a></label>
                <input value="Item 1" type="checkbox" id="IsAgree" name="IsAgree">
            </div>
        </div>


        <div class="other-login">
            <a class="no-account" href="../html/登录.html">已有账号，请登录</a>
        </div>

    </div>
</main>

<script type="text/javascript">
    var wait=60;
    function time(o) {
        if (wait == 0) {
            o.removeAttribute("disabled");
            o.value="发送";
            wait = 60;
        } else {
            o.setAttribute("disabled", true);
            o.value="重新发送(" + wait + ")";
            wait--;
            setTimeout(function() {
                        time(o)
                    },
                    1000)
        }
    }
    document.getElementById("btn").onclick=function(){time(this);}
</script>
</body>
</html>