
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>浏览图片</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone = no"/>
    <link rel="stylesheet" href="../css/font-awesome.min.css">

    <link rel="stylesheet" href="../css/mui.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/global.css">


    <script src="../js/jquery-1.11.1.min.js"></script>
    <script src="../js/mui.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/common.js"></script>

</head>
<body class="bac-black">


<main>
    <div class="digital-slide">
        <a class="icon-delete" href="###"><i class="fa  fa-trash-o"></i></a>
        <div class="mui-slider">
            <div class="mui-slider-group mui-slider-loop">
                <!-- 额外增加的一个节点(循环轮播：第一个节点是最后一个图文表格) -->
                <div class="mui-slider-item mui-slider-item-duplicate">
                    <ul class="mui-table-view mui-grid-view">
                        <li class="mui-table-view-cell mui-media mui-col-xs-12">
                            <a href="#"><img class="mui-media-object" src="../images/index/banner-1.png" /></a>
                        </li>
                    </ul>
                </div>
                <div class="mui-slider-item">
                    <ul class="mui-table-view mui-grid-view">
                        <li class="mui-table-view-cell mui-media mui-col-xs-12">
                            <a href="#"><img class="mui-media-object" src="../images/index/banner-1.png" /></a>
                        </li>
                    </ul>
                </div>
                <div class="mui-slider-item">
                    <ul class="mui-table-view mui-grid-view">
                        <li class="mui-table-view-cell mui-media mui-col-xs-12">
                            <a href="#"><img class="mui-media-object" src="../images/index/banner-1.png" /></a>
                        </li>
                    </ul>
                </div>
                <div class="mui-slider-item">
                    <ul class="mui-table-view mui-grid-view">
                        <li class="mui-table-view-cell mui-media mui-col-xs-12">
                            <a href="#"><img class="mui-media-object" src="../images/index/banner-1.png" /></a>
                        </li>
                    </ul>
                </div>
                <!-- 额外增加的一个节点(循环轮播：最后一个节点是第一个图文表格) -->
                <div class="mui-slider-item mui-slider-item-duplicate">
                    <ul class="mui-table-view mui-grid-view">
                        <li class="mui-table-view-cell mui-media mui-col-xs-12">
                            <a href="#"><img class="mui-media-object" src="../images/index/banner-1.png" /></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="mui-slider-indicator">
                <div class="mui-number">
                    <span>1</span> / 3
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>