<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>编辑资料页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone = no"/>
    <link rel="stylesheet" href="../css/font-awesome.min.css">

    <link rel="stylesheet" href="../css/mui.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/global.css">


    <script src="../js/jquery-1.11.1.min.js"></script>
    <script src="../js/mui.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/common.js"></script>

</head>
<body>
<header class="head-black head-tra">
    <div class="top"></div>
    <div class="title">
        <div class="container-fluid">
            <a href="#"><i class="fa fa-angle-left"></i></a>
            <h4>Amos企鹅</h4>
            <a class="release-schedule" href="#">编辑资料</a>
        </div>
    </div>
</header>

<main>
    <div class="bac-img">
        <img src="../images/index/banner-1.png" />
        <div class="bac-img-info">
            <div class="container-fluid">
                <p><img src="../images/icon-user.png" /> <strong>女,27，北京</strong><span>北京市</span></p>
                <p>签名:额，这个我也不知道怎么写</p>
            </div>
        </div>
    </div>

    <div class="my-album">
        <h4>个人相册</h4>
        <a href="#">
            <img src="../images/icon-add.png" />
        </a>
    </div>

    <div class="my-album">
        <h4>收费相册</h4>
        <a href="#">
            <img src="../images/icon-add.png" />
        </a>
    </div>

    <div class="my-album">
        <h4>个人认证</h4>
        <ul>
            <li>手机&微信已填<a href="#">修改</a></li>
            <li>形象视频认证<a href="#">认证</a></li>
            <li>身份认证<a href="#">认证</a></li>
            <li>车辆认证<a href="#">认证</a></li>
            <li>芝麻认证<a href="#">认证</a></li>
            <li>身份认证<a href="#">认证</a></li>
        </ul>
    </div>

    <div class="my-album">
        <h4>个人资料</h4>
        <ul>
            <li><strong class="col-xs-7">交友目标</strong><span class="col-xs-5">结交知己玩伴</span></li>
            <li><strong class="col-xs-7">感情状态</strong><span class="col-xs-5">我是单身</span></li>
            <li><strong class="col-xs-7">职业</strong><span class="col-xs-5">我是大土豪</span></li>
            <li><strong class="col-xs-7">收入</strong><span class="col-xs-5">保密</span></li>
            <li><strong class="col-xs-7">身高</strong><span class="col-xs-5">180</span></li>
            <li><strong class="col-xs-7">体重</strong><span class="col-xs-5">180斤</span></li>
        </ul>
        <ul>
            <li><strong class="col-xs-3">爱情看法</strong><span class="col-xs-9">这个我也不知道怎么写啊</span></li>
            <li><strong class="col-xs-3">另一半要求</strong><span class="col-xs-9">帅气</span></li>
            <li><strong class="col-xs-3">兴趣</strong><span class="col-xs-9">羽毛球  游泳   瑜伽  驾驶</span></li>
        </ul>
        <ul class="self-intro">
            <li>自我介绍:</li>
            <li>羽毛球  游泳   瑜伽  驾驶，打炮，打炮，打炮，重要事情说三遍，你想不想打炮。</li>
        </ul>
    </div>
</main>
</body>
</html>