<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>订单列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone = no"/>
    <link rel="stylesheet" href="../css/font-awesome.min.css">

    <link rel="stylesheet" href="../css/mui.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/global.css">


    <script src="../js/jquery-1.11.1.min.js"></script>
    <script src="../js/mui.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/common.js"></script>

</head>
<body>
<header class="head-black">
    <div class="top"></div>
    <div class="title">
        <div class="container-fluid">
            <a href="#"><i class="fa fa-angle-left"></i></a>
            <h4>我的订单</h4>
        </div>
    </div>
</header>

<main>
    <div class="my-order-list">
        <div class="container-fluid">
            <div class="row tabs">
                <ul>
                    <li class="col-xs-3 current"><a href="###">待确认</a></li>
                    <li class="col-xs-3"><a href="###">待开始</a></li>
                    <li class="col-xs-3"><a href="###">待评价</a></li>
                    <li class="col-xs-3"><a href="###">待评价</a></li>
                </ul>
            </div>
            <!--待确认-->
            <div class="row tab-content">
                <div class="mui-table-view">
                    <div class="mui-table-view-cell mui-media">
                        <div class="">
                            <img class="mui-media-object mui-pull-left" src="../images/icon-user.png">
                            <div class="mui-media-body">
                                <h6>李三丰<span>￥288.88</span></h6>
                                <p class="mui-ellipsis pull-left"><strong>一起看电影</strong><span> 3小时</span></p>
                                <a href="#">约我</a>
                            </div>
                        </div>
                        <h5>订单状态:<b>等待确认</b></h5>
                    </div>

                    <div class="mui-table-view-cell mui-media">
                        <div class="">
                            <img class="mui-media-object mui-pull-left" src="../images/icon-user.png">
                            <div class="mui-media-body">
                                <h6>李三丰<span>￥288.88</span></h6>
                                <p class="mui-ellipsis pull-left"><strong>一起看电影</strong><span> 3小时</span></p>
                                <a class="green" href="#">约我</a>
                            </div>
                        </div>
                        <h5>订单状态:<b>等待确认</b></h5>
                    </div>

                    <div class="mui-table-view-cell mui-media">
                        <div class="">
                            <img class="mui-media-object mui-pull-left" src="../images/icon-user.png">
                            <div class="mui-media-body">
                                <h6>李三丰<span>￥288.88</span></h6>
                                <p class="mui-ellipsis pull-left"><strong>一起看电影</strong><span> 3小时</span></p>
                                <a href="#">约我</a>
                            </div>
                        </div>
                        <h5>订单状态:<b>等待确认</b></h5>
                    </div>
                </div>
            </div>

            <!--待开始-->
            <div class="row tab-content"></div>

            <!--待评价-->
            <div class="row tab-content"></div>

            <!--待评价-->
            <div class="row tab-content"></div>

        </div>
    </div>
</main>
</body>
</html>